<!DOCTYPE html>
<html>

<head>
  <title>
    <%= productName %>
  </title>

  <meta charset="utf-8">
  <meta name="description" content="<%= productDescription %>">
  <meta name="format-detection" content="telephone=no">
  <meta name="msapplication-tap-highlight" content="no">
  <meta name="viewport"
    content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width<% if (ctx.mode.cordova || ctx.mode.capacitor) { %>, viewport-fit=cover<% } %>">
  <!--
    <meta name="application-name" content="csSvg">
    <meta property="description" content="Animate SVG with CSS"> -->

  <!-- <meta name="csSvg" content="csSvg"> -->
  <!-- <meta property="og:title" content="csSvg">
    <meta property="og:description" content="Animate SVG with CSS">
    <meta property="og:image" content="https://raw.githubusercontent.com/imvenx/inkaweb/master/src/assets/bird.svg"> -->
  <!-- <meta name="csSvg" content="csSvg">
    <meta property="og:title" content="csSvg">
    <meta property="og:description" content="Animate SVG with CSS">
    <meta property="og:image" content="icons/favicon-128x128.png"> -->

  <!-- Primary Meta Tags -->
  <title>inka</title>
  <meta name="title" content="inkaweb">
  <meta name="description" content="Animate SVG with CSS">

  <!-- Open Graph / Facebook -->
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://imvenx.github.io/inkaweb/">
  <meta property="og:title" content="inkaweb">
  <meta property="og:description" content="Animate SVG with CSS">
  <!-- <meta property="og:image" content="https://raw.githubusercontent.com/imvenx/inkaweb/master/src/assets/bird.svg"> -->
  <meta property="og:image" content="https://raw.githubusercontent.com/imvenx/inkaweb/master/src/assets/bird.png">

  <!-- Twitter -->
  <meta property="twitter:card" content="summary_large_image">
  <meta property="twitter:url" content="https://imvenx.github.io/inkaweb/">
  <meta property="twitter:title" content="inkaweb">
  <meta property="twitter:description" content="Animate SVG with CSS">
  <!-- <meta property="twitter:image" content="https://raw.githubusercontent.com/imvenx/inkaweb/master/src/assets/bird.svg"> -->
  <meta property="twitter:image" content="https://raw.githubusercontent.com/imvenx/inkaweb/master/src/assets/bird.png">


  <link rel="icon" sizes="128x128" href="src/assets/face_wink.svg">
  <link rel="icon" sizes="96x96" href="src/assets/face_wink.svg">
  <link rel="icon" sizes="32x32" href="src/assets/face_wink.svg">
  <link rel="icon" sizes="16x16" href="src/assets/face_wink.svg">
  <link rel="icon" href="src/assets/face_wink.svg">
</head>

<body>
  <!-- quasar:entry-point -->
</body>

</html>